.breadcrumb{
    max-width: 1200px;
    width: 100%;
    margin: 24px auto 44px;
    padding-left: 28px;
}

.breadcrumb span{
    font-size: 2rem;
}

.breadcrumb span a{
    color: #333333;
    text-decoration: none;
}
/* ------------------------------------------------------------ */
.login_title{
    font-size: 3.6rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;  
}
/* --------------------------form---------------------------------- */
.wrapper{
    max-width: 600px;
    width: 100%;
    
    outline: 3px solid #999999;
    margin: 0 auto 24px;
}

.wrapper .form_top{
    outline: 3px solid #999999;

    display: inline-block;
    width: 50%;
    line-height: 50px;
    font-size: 2rem;
    text-align: center;
    color: #333333;
    text-decoration: none;
}

.wrapper .form_top:nth-child(1){
    background-color: #e60012;
    color: #ffffff;
}

.form_login{
    padding-top: 60px;
    text-align: center;
    margin-bottom: 8px;
}

.form_login_input{
    position: relative;

    margin-bottom: 24px;
}

.form_login_input label{
    font-size: 2rem;
    position: absolute;
    top: -20px;
    left: 70px;
    background-color: #f7e9d8;
}

#email, #password{
    width: 500px;
    height: 50px;
    border-radius: 10px;
    background-color: #f7e9d8;
    font-size: 2rem;
}

.submit{
    font-size: 2rem;
    width: 240px;
    height: 50px;
    background-color: #e60012;
    color: #ffffff;
    border: 0;
}
/* ---------------------------------------------------------- */
.forget_password{
    text-align: center;
}

.form_bottom{
    font-size: 2rem;
    text-decoration: none;
    color: #333333;
}

.form_bottom:hover{
    color: #e60012;
}